# ----------------------------
# Whitelist gitignore for Ansible + Terraform
# ----------------------------

# Ignore everything by default
*

# ----------------------------
# Terraform
# ----------------------------

# Allow Terraform directories
!terraform/
!terraform/*.tf
!terraform/*.tfvars
!terraform/*.tf.json
!terraform/output.tf
!terraform/variables.tf
!terraform/terraform.tfvars

# Ignore sensitive Terraform state files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan

# ----------------------------
# Ansible
# ----------------------------

# Allow Ansible directories
!ansible/
!ansible/group_vars/
!ansible/playbooks/

# Allow files inside Ansible
!ansible/group_vars/*.yml
!ansible/playbooks/*.yml
!ansible/playbooks.yml
!ansible/inventory.ini

# ----------------------------
# Misc
# ----------------------------
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/infra.yml

!howto.md

